[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
token-vesting = "GdMXVH2h4ajyy3nce6NPraBofmx673oWoZCwF76kw4DP"

[programs.devnet]
token-vesting = "GdMXVH2h4ajyy3nce6NPraBofmx673oWoZCwF76kw4DP"



[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"


[scripts]
test = "../node_modules/.bin/jest --preset ts-jest"
